{% extends 'base.html' %} {% load static %} {% block title %}Car Detail
{%endblock %} {% block content %}
<div class="container mt-5">
  <h2 class="text-center mb-4">Leave a Comment</h2>

  <form
    method="post"
    action="{% url 'car_comment' car.pk %}"
    class="bg-light p-4 rounded shadow-sm"
    style="max-width: 600px; margin: auto">
    {% csrf_token %} {{ form|crispy }}
    <div class="text-center mt-4">
      <button type="submit" class="btn btn-primary btn-lg">
        Submit Comment
      </button>
    </div>
  </form>
</div>
{% endblock %}
