{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
<h1 style="display: flex; justify-content: center; align-items: center">
  ADD MUSICIAN
</h1>
<form method="post" style="width: 50%; height = 500px; margin: auto;">
  {% comment %} {% csrf_token %} {{form|crispy}} {% if error_message %}
  <div class="alert alert-danger" role="alert">{{ error_message }}</div>
  {% endif %} {% endcomment %}

  <!--class base-->
  {% csrf_token %} {{form|crispy}} {% if form.non_field_errors %}
  <div class="error">
    {% for error in form.non_field_errors %}
    <p>{{ error }}</p>
    {% endfor %}
  </div>
  {% endif %}

  <button class="btn btn-warning">Add Musician</button>
</form>
{% endblock content %}
