<nav class="bg-gray-900 text-white py-4">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Left Side -->
    <div class="flex items-center">
      {% if user.is_organizer %}
        <a href="{% url 'organizer_event' %}" class="text-xl font-bold hover:text-gray-200">Home</a>
      {% endif %}
      <a href="{% url 'participant_event' %}" class="text-xl font-bold hover:text-gray-200">Home</a>

      {% comment %} <a href="{% url 'home' %}" class="text-xl font-bold hover:text-gray-200">Home</a> {% endcomment %}
      {% if user.is_authenticated %}
        <!-- Additional link for authenticated users -->
        {% if user.is_organizer %}
          <a href="#" class="ml-6 text-lg hover:text-gray-200">Organizer Dashboard</a>
        {% elif user.is_participant %}
          <a href="#" class="ml-6 text-lg hover:text-gray-200">Participant Dashboard</a>
        {% endif %}
        <a href="#" class="ml-6 text-lg hover:text-gray-200">Report</a>
      {% endif %}
    </div>

    <!-- Right Side -->
    <div class="flex items-center">
      {% if user.is_authenticated %}
        <!-- Profile Icon and Name -->
        <span class="ml-6 flex items-center">
          <i class="fas fa-user-circle text-xl mr-2"></i>
          <a href="#" class="text-white-500 hover:no-underline">{{ user.username }}</a>
        </span>

        <!-- Balance Display -->
        <span class="ml-6 flex items-center"><i class="fa-solid fa-scale-balanced mr-2" style="color: #ffffff"></i></span>

        <!-- Logout -->
        <a href="{% url 'logout' %}" class="ml-6 text-lg hover:text-gray-200">Logout</a>
      {% else %}
        <!-- Login and Register Links -->
        <a href="{% url 'login' %}" class="ml-6 text-lg hover:text-gray-200">Login</a>
        <a href="{% url 'register' %}" class="ml-6 text-lg hover:text-gray-200">Register</a>
      {% endif %}
    </div>
  </div>
</nav>
