{% extends 'base.html' %} {% load static %}

<h1>{{id}}</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">User id</th>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Body</th>
    </tr>
  </thead>
  <tbody>
    {% for i in data %}

    <tr>
      <th scope="row">{{i.userId}}</th>
      <td>{{i.id}}</td>
      <td>{{i.title}}</td>
      <td>{{i.body}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<h1 class="heading">I'm inside in first app</h1>
<img src="{% static 'images/images2.png' %}" alt="I'm an image" />
