html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
}

.card {
  box-shadow: 0 4px 8px black;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 50px;
}

.card-title {
  color: black;
  font-weight: bolder;
}

.card-text {
  font-size: 14px;
  color: black;
  text-align: justify;
}

.btn-primary {
  background-color: red;
  border: none;
  color: black;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: green;
}
