{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="container mt-1">
  <h1 class="text-center">{{ type }} your account</h1>

  <form
    method="post"
    class="bg-light p-4 rounded shadow-sm"
    style="max-width: 600px; margin: auto">
    {% csrf_token %} {{ form|crispy }}

    <div class="d-flex justify-content-between mt-4">
      <button type="submit" class="btn btn-warning">Submit</button>
      <a class="btn btn-danger" href="{% url 'password_change' %}"
        >Edit Password</a
      >
    </div>
  </form>
</div>
{% endblock content %}
