{% extends 'base.html' %} {% load static %} {% block content %}
<div class="home">
  <div class="row g-0">
    <div class="col-sm-6 col-md-7">
      <h1 class="text">Welcome to my restaurant</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dolor
        ea optio fugiat minus. Autem, accusamus. Animi, neque cumque provident
        molestiae consequatur, enim voluptatibus iure nam soluta quaerat qui
        distinctio. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Modi illo a esse? Iusto tenetur eveniet, temporibus sunt impedit
        exercitationem labore nulla repudiandae minima delectus quae sed
        voluptas asperiores ipsum ex accusamus facilis sapiente unde, adipisci
        accusantium amet. Autem repudiandae ea eveniet quaerat illo consequuntur
        facere cum veritatis accusantium quia, ipsam cumque aspernatur eaque,
        sit quisquam sapiente eos, deserunt earum magnam? Expedita tempora
        commodi sit in facere optio ea explicabo ratione quos, deserunt maxime
        quas, id voluptates nulla magnam temporibus facilis recusandae excepturi
        repellat aut deleniti, quibusdam fugiat! Ducimus cumque ex aliquid. Eum,
        voluptatem nulla explicabo assumenda corporis harum nesciunt aperiam!
      </p>
    </div>
    <div class="col-6 col-md-5">
      <img src="{%static 'images/images.jpeg'%}" alt="Home-res-image" />
    </div>
  </div>
</div>
{% endblock content %}
